body {
  
  overflow-x:hidden;

background-color:#faf8cc;


}


input#one{
text-align:left;
color : Black;
font-family:Times New Roman;
-webkit-transition-duration: 0.5s;
font-size : 15px;
background-color : #faf8cc;
letter-spacing : 1px;
width : 100%;
align : left;
size : 300px;}


.lbs{

width:97px;

padding:5px;

float:left;


}

.lbs img
{

vertical-align:middle;
  
width:97px;
  
height:97px;
  
float:left;

 -webkit-transition-duration: 0.5s;

}


.lbs img:hover
{

cursor:pointer;
	
-webkit-transform:scale(0.8);
	
-webkit-box-shadow:0px 0px 30px #ccc;
    
}

  
#manage_album, #upload_image, #friendPic
{

clear:both;

float:left;

}
#pagingLinks{
clear:both;
float:left;
width:100%;
}
#login{
clear:both;
text-align:center;
min-width:353px;
}
#upload_image{
float:right;
}


.img
{
  
float:left;
  -webkit-transition-duration: 0.5s;

}
#friendPic{
float:left;
min-height:120px;
width:350px;
}
#friendPic img{
border:1px solid #000;
}



.img:hover{
	
cursor:pointer;
	
-webkit-transform:scale(0.8);
	
-webkit-box-shadow:0px 0px 30px #ccc;

}

.img:hover:after{

width:100%;
text-align:center;
margin-top:-20px;
z-index:3000;
position:relative;
float:left;
-webkit-box-shadow:0px 0px 30px blue;
color:blue;
background-color:#CCC;
cursor:pointer;


}



#alphabets{
color:#000;
float:right;
width:auto;
height:40px;
font-weight:bold;
font-size:12px;
letter-spacing:4px;
}
.qlscores{
font-weight:bold;
padding: 0 9px 0 9px;
font-size:12px;
color:#000;
}
.qlscores table{
font-weight:bold;
font-size:12px;

}
#alphabets a{
color:#000;
font-size:15px;
-webkit-transition-duration: 0.5s;
}


#alphabets a:hover
{
color:#fff;
-webkit-transform:scale(0.8);
}


#fbpic{

width:50px;
float:left;

}
.selectedFriend{
width:97px;
padding:5px;
float:left;
background-color:blue;
}

.selectedFriend img
{
vertical-align:middle;
width:97px;
height:97px;
float:left;
}
.selectedFriend
{
cursor:pointer;
-webkit-transform:scale(0.8);
-webkit-box-shadow:0px 0px 30px #ccc;  
}


div.success, div.sending,div.error ,div.sent{

background-repeat:no-repeat;
border:2px solid;

padding:0.1em 0.1em 0.1em 10px;
font-size:12px;
}

.success {
background-color:#F0FFF0;
color:#000000;
}

.error {

color:#FF0000;
}
.sending {
background-color:#FFFFCC;
color:#FF0000;
}
input {
   font-family: "Times New Roman", Times, serif;
   font-size: 12px;
   font-weight: bold;
   color: #FF0000;
  /* background-color: #FFCCCC;*/
   padding: 5px;
   height: 30px;
   width: 100px;
}
input.drag{

   font-family: "Times New Roman", Times, serif;
   font-size: 12px;
   font-weight: bold;
   color: #000000;
   width: 30px;
   float:left;
   margin-top:-30px;
}
input.Login {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   font-weight: bold;
   color: #000;
	width:100%;
   padding: 2px;
   height: 25px;
   
   border: 1px solid #000000;
   background-image:url('login_send.png');
} 
#friendNameDiv{
font-size:12px;
font-weight:bold;
text-align:center;
}
.pageurl{
font-weight:bold;
}
.pagingAnchorLinks{

}
.pager{
text-align:center;
letter-spacing:2px;
color:blue;

float:middle;
font-family: Arial, Helvetica, sans-serif;

}
.pager{
font-size:14px;
}
.pager a{
text-decoration:none;
font-size:14px;

}
#mainContent{
clear: both;
float: left;
}
.body62 {
  min-width:600px;
 }
.lbs62{
	width:90px;
	padding:5px;
	float:left;
}

.lbs62 img
{
	vertical-align:middle;
	width:90px;
	height:90px;
	float:left;
	 -webkit-transition-duration: 0.5s;
	 display:block;
}
.lbs62 img:hover
{
	cursor:pointer;
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}
.selectedFriend62{
width:90px;
padding:5px;
float:left;
background-color:blue;
}

.selectedFriend62 img
{
vertical-align:middle;
width:90px;
height:90px;
float:left;
}


.selectedFriend62
{
cursor:pointer;
-webkit-transform:scale(0.8);
-webkit-box-shadow:0px 0px 30px #ccc;  
}

.body93 {
  min-width:600px;
 }
.lbs93{
	width:55px;
	padding:5px;
	float:left;
}

.lbs93 img
{
	vertical-align:middle;
	width:55px;
	height:55px;
	float:left;
	 -webkit-transition-duration: 0.5s;
	 display:block;
}
.lbs93 img:hover
{
	cursor:pointer;
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}
.selectedFriend93{
width:55px;
padding:5px;
float:left;
background-color:blue;
}

.selectedFriend93 img
{
vertical-align:middle;
width:55px;
height:55px;
float:left;
}


.selectedFriend93
{
cursor:pointer;
-webkit-transform:scale(0.8);
-webkit-box-shadow:0px 0px 30px #ccc;  
}

.body32 {
  min-width:600px
 }
.lbs32{
	width:97px;
	padding:5px 50px 5px 50px;
	float:left;
}

.lbs32 img
{
	vertical-align:middle;
	width:97px;
	height:97px;
	float:left;
	 -webkit-transition-duration: 0.5s;
	 display:block;
}
.lbs32 img:hover 
{
	cursor:pointer;
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}
.selectedFriend32{
width:97px;
padding:5px 50px 5px 50px;
float:left;
background-color:blue;
}

.selectedFriend32 img
{
vertical-align:middle;
width:97px;
height:97px;
float:left;
}
.selectedFriend32
{
cursor:pointer;
-webkit-transform:scale(0.8);
-webkit-box-shadow:0px 0px 30px #ccc;  
}


.body52 {
  min-width:600px;
 }
.lbs52{
	width:108px;
	padding:5px;
	float:left;
}

.lbs52 img
{
	vertical-align:middle;
	width:108px;
	height:108px;
	float:left;
	 -webkit-transition-duration: 0.5s;
	 display:block;
}
.lbs52 img:hover 
{
	cursor:pointer;
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}
.selectedFriend52{
width:108px;
padding:5px;
float:left;
background-color:blue;
}

.selectedFriend52 img
{
vertical-align:middle;
width:108px;
height:108px;
float:left;
}
.selectedFriend52
{
cursor:pointer;
-webkit-transform:scale(0.8);
-webkit-box-shadow:0px 0px 30px #ccc;  
}
.ed93{
font-size:10px;
width: auto;
position:absolute;
margin:10px 0 0 2px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.ed32{
font-size:14px;
width: 100px;
position:absolute;
margin:10px 0 0 2px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.ed52{
width: 110px;
position:absolute;
margin:20px 0 0 0px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.ed62{
width: 85px;
position:absolute;
margin:20px 0 0 0px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.ed{
width: 110px;
position:absolute;
margin:20px 0 0 0px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}



.dl93{
font-size:10px;
width: 50px;
position:absolute;
margin:30px 0 0 2px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.dl32{
width: 110px;
position:absolute;
margin:60px 0 0 0px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.dl52{
width: 110px;
position:absolute;
margin:60px 0 0 0px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.dl62{
width: 85px;
position:absolute;
margin:40px 0 0 0px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.dl{
width: 110px;
position:absolute;
margin:20px 0 0 0px;
background-color:#ccc;
opacity: 0.4;
color:#000;
text-align:center;
}
.colrow{
float:right;
}
#addNote{
float:left;
}
#inviteFriends{
float:right;
}
.mypic{
margin: 3px 0 0 0;

}
#allinbadges{

}
.switchText{
font-size:11px;
}
.inputSwitch{
	height:20px;
	color:#000;
}
.radioSwitch{
width:15px;
height:20px;
}

/********** Group***********/
.selGroup{
	width:30px;
	padding:5px;
	float:left;
}

.selGroup img
{
	vertical-align:middle;
	width:30px;
	height:30px;
	float:left;
	 -webkit-transition-duration: 0.30s;
	 display:block;
}
.selGroup img:hover
{
	cursor:pointer;
	-webkit-transform:scale(0.8);
	-webkit-box-shadow:0px 0px 30px #ccc;
}

.selectedGroup{
width:25px;
padding:5px;
float:left;
background-color:blue;
}

.selectedGroup img
{
vertical-align:middle;
width:25px;
height:25px;
float:left;

}


.selectedGroup
{
cursor:pointer;
-webkit-transform:scale(0.8);
-webkit-box-shadow:0px 0px 30px #ccc;  
}
.txtgroupname{
font-weight:bold;
font-size:10px;
text-align: center;
}

#changePic a:hover{
border:1px solid #ff0000;
position:absolute;
}
/*********** GroupEnds */

#txtchangepic{
position:absolute;
background:#ccc;
}
